$mainColor: #152540;
$mainColor2: #E94448;
$white: #ffffff;
$container-width: 100%;

.container {
  width: $container-width;
}

.col-4 {
  width: $container-width / 4;
}

.authPagePadding {
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  height: 150vh;
}

#left {
  background: $mainColor2;
   @extend .authPagePadding;
}

#right {
  background: $mainColor;
  @extend .authPagePadding;
}

h1 {
  color: $white;
}

#book {
  color: $white;
}

$wk: -webkit-;

#button {
  #{$wk}border-radius: 15px;
  background: $mainColor2;
}

#button1 {
  #{$wk}border-radius:  15px 0px 0px 15px;
  background:  #234476;
}

#button2 {
  #{$wk}border-radius:  0px 15px 15px 0px;
  background: #234476;
}

#button1:hover {
    background-color:$mainColor2;
    color: $white;
}

#button2:hover {
    background-color: $mainColor2;
    color: $white;
}

